data/models
data/wiki*

dr/__pycache__*
new_ss/__pycache__*
new_ss/newsData*
pipeline/__pycache__*

ss/__pycache__*
ss/checkpoints*

topic_generalization*


rte/checkpoints*
new_rte_regression/checkpoints*
new_rte/checkpoint*
new_rte/tmp*

*.json
*.pth
*.pt
*.pickle
chloe.ipynb
hs_err_pid72841.log
README.md
Visualization.ipynb
new_notebook.ipynb

.cache*



__pycache__/